<div class="container px-1 py-5 mx-auto p-8 rounded border-gray-200">
    <ul class="nav justify-content-center">
        <li class="col-md-6">
            <button type="button" class="btn btnO form-control" routerLink="/reg-voluntario">
                Registrar Voluntario
            </button>
        </li>
        <li class="col-md-6">
            <button type="button" class="btn btnA form-control">
                Listar Voluntarios
            </button>
        </li>
    </ul>

    <div class="row mt-6">
        <div class="col">
            <table class="table">
                <thead>
                    <tr style="text-align: center">
                        <th scope="col">N</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Área de trabajo</th>
                        <!-- <th scope="col">Cargo</th> -->
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                    <tr style="text-align: center" *ngFor="let voluntario of listaVoluntarios
                | paginate : { itemsPerPage: 5, currentPage: pageActual }; index as i">

                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ voluntario.usuario!.persona!.cedula}}</td>
                        <td>{{ voluntario.usuario!.persona!.nombres }} {{ voluntario.usuario?.persona?.apellidos }}</td>
                        <td>{{ voluntario.usuario!.persona!.direccion }}</td>
                        <td>{{ voluntario.usuario!.persona!.telefono }}</td>
                        <td>{{ voluntario.area_trabajo }}</td>
                        <!-- <td>{{ voluntario.cargo }}</td> -->
                        <td>
                            <button (click)="capParaEdicion(voluntario.idVoluntario)" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#modalUpdate">
                                <i class="pi pi-pencil"></i>
                            </button>
                        </td>
                        <td>
                            <button *ngIf='voluntario.estado == true' (click)=" desactivarVoluntario(voluntario.idVoluntario)"  class="btn btn-danger"><i class="pi pi-times"></i></button>
                            <button *ngIf='voluntario.estado == false' (click)=" activarVoluntario(voluntario.idVoluntario)"  class="btn btn-success"><i class="pi pi-power-off"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <div class="contendor p-25" style="text-align: center; padding-bottom: 8px;">
        <!-- <button pButton type="button" (click)="generarPDF()" style="background-color: red;" label="Generar Reporte" icon="pi pi-file-pdf"></button> -->
        <button type="button" style="background-color: red;" class="btn btn-primary" (click)="openPdfTables()"><i class="pi pi-file-pdf"></i> Generar Reporte</button>
        <!-- <button pButton type="button" (click)="openPdfTables()"  label="Generar Reporte" icon="pi pi-file-pdf"></button> -->
    </div>

</div>

<!-- Modal -->
<div class="modal" id="modalUpdate" tabindex="-5" aria-labelledby="modalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container w-75 mt-25 me-25 mt-5 shadown">
                <div class="rows align-items-strech">
                    <div class="col bg-white mt-25 p-25">
                        <form class="row g-2 d-flex justify-content-center">
                            <h2 class="form text-center"><b>Datos del Voluntario</b></h2>

                            <div class="perfil-usuario-avatar text-center">
                                <img [src]="
                    'http://localhost:5000/imagen/images/' + usuario.foto_perfil" alt="img-avatar" />
                            </div>

                            <div class="col-12">
                                <label for="cedula" class="form-label-p"> Cédula</label>
                                <input type="text" class="form-control" name="cedula" [(ngModel)]="persona.cedula"
                                    readonly onmousedown="return false" onkeydown="return false" />
                            </div>
                            <div class="col-6">
                                <label for="nombres" class="form-label-p"> Nombres</label>
                                <input type="text" class="form-control" name="nombres" 
                                maxlength="30" [(ngModel)]="persona.nombres" [pKeyFilter]="letrasEspace"/>
                            </div>
                            <div class="col-6">
                                <label for="apellidos" class="form-label-p"> Apellidos</label>
                                <input type="text" class="form-control" name="apellidos"
                                maxlength="30"  [(ngModel)]="persona.apellidos" [pKeyFilter]="letrasEspace"/>
                            </div>
                            <div class="col-6">
                                <label for="fechaNacimiento" class="form-label-p">
                                    Fecha de nacimiento</label>
                                <input type="date" class="form-control" name="fechaNacimiento"
                                    [(ngModel)]="persona.fechaNacimiento" />
                            </div>
                            <div class="col-6">
                                <label for="genero" class="form-label-p"> Género</label>
                                <select id="genero" class="form-control" name="genero" [(ngModel)]="persona.genero">
                                    <option value="" disabled selected>
                                        Selecciona un género
                                    </option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="otro">Sin especificar</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="direccion" class="form-label-p"> Dirección</label>
                                <input type="text" class="form-control" name="direccion"
                                maxlength="500"    [(ngModel)]="persona.direccion" />
                            </div>
                            <div class="col-md-6">
                                <label for="telefono" class="form-label-p"> Teléfono</label>
                                <input type="text" class="form-control" name="telefono"
                                maxlength="10"   [(ngModel)]="persona.telefono" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)" />
                            </div>
                            <div class="col-md-6">
                                <label for="celular" class="form-label-p"> Celular</label>
                                <input type="text" class="form-control" name="celular" 
                                maxlength="10" [(ngModel)]="persona.celular" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)" />
                            </div>
                            <div class="col-12">
                                <label for="correo" class="form-label-p"> Correo</label>
                                <input type="email" class="form-control" name="correo"
                                maxlength="30"  [(ngModel)]="persona.correo" />
                            </div>
                            <div class="col-md-12">
                                <label for="areatrabajo" class="form-label-p">Área de Trabajo</label>
                                <select id="areatrabajo" class="form-control" name="areatrabajo"
                                    [(ngModel)]="voluntario.area_trabajo">
                                    <option value="" disabled selected>
                                        Selecciona área de trabajo
                                    </option>
                                    <option value="Clinica">Clínica</option>
                <option value="Peluqueria">Peluquería</option>
                <option value="Limpieza">Limpieza</option>
                <option value="Recreacional y adiestramiento">Recreacional y adiestramiento</option>
                <option value="otro">Otro</option>
                                </select>
                            </div>
                            <!-- <div class="col-md-6">
                                <label for="cargo" class="form-label-p"> Cargo</label>
                                <select id="cargo" class="form-control" name="cargo" [(ngModel)]="voluntario.cargo">
                                    <option value="" disabled selected>
                                        Selecciona un cargo
                                    </option>
                                    <option value="masculino">Solicitudes de Adopcion</option>
                                    <option value="famenino">Seguimiento de Mascota</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div> -->
                            <div class="separador">.</div>
                            <div class="col-6">
                                <label for="username" class="form-label-p"> Usuario</label>
                                <input type="text" class="form-control" name="username"
                                maxlength="30"  [(ngModel)]="usuario.username" />
                            </div>
                            <div class="col-6">
                                <label for="password" class="form-label-p">Contraseña <i class="uil uil-eye-slash showHidePw"></i></label>
                                <input type="password" class="password form-control" name="password"
                                    [(ngModel)]="usuario.password" />
                            </div>
                            <div class="foto">
                                <div class="roww">
                                    <div class="col-md-2 imgUp">
                                        <div class="imagePreview" *ngIf="file">
                                            <img [src]="file" class="imagePreview" alt="..." />
                                        </div>
                                        <label class="btn btn-primarys rounded-mid">Foto
                                            <input type="file" class="uploadFile img" value="Upload Photo"
                                                (change)="imageSelected($event)"
                                                style="width: 0px; height: 0px; overflow: hidden" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primarys" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primarys1" (click)="actualizarVoluntarios()">Actualizar</button>
            </div>
        </div>
    </div>
</div>