<div class="container px-1 py-5 mx-auto p-8 rounded border-gray-200">
    <ul class="nav justify-content-center">
        <li class="col-md-6">
            <button type="button" class="btn btnO form-control" routerLink="/reg-voluntario">
                Registrar Voluntario
            </button>
        </li>
        <li class="col-md-6">
            <button type="button" class="btn btnA form-control">
                Listar Voluntarios
            </button>
        </li>
    </ul>

    <div class="row mt-6">
        <div class="col">
            <table class="table">
                <thead>
                    <tr style="text-align: center">
                        <th scope="col">N</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Área de Trabajo</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center" *ngFor="
              let voluntario of voluntarios
                | paginate : { itemsPerPage: 10, currentPage: pageActual };
              index as i
            ">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ voluntario.usuario.persona.cedula }}</td>
                        <td>
                            {{ voluntario.usuario.persona.nombres }}
                            {{ voluntario.usuario.persona.apellidos }}
                        </td>
                        <td>{{ voluntario.usuario.persona.direccion }}</td>
                        <td>{{ voluntario.usuario.persona.telefono }}</td>
                        <td>{{ voluntario.area_trabajo }}</td>
                        <td>{{ voluntario.cargo }}</td>
                        <td>
                            <button (click)="capParaEdicion(voluntario.idVoluntario)" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#modalUpdate">
                                <i class="pi pi-pencil"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger">
                                <i class="pi pi-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    <h2 class="form-titulo text-center">.</h2>
</div>

<!-- Modal -->
<div class="modal" id="modalUpdate" tabindex="-5" aria-labelledby="modalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container w-75 mt-25 me-25 mt-5 shadown">
                <div class="rows align-items-strech">
                    <div class="col bg-white mt-25 p-25">
                        <form class="row g-2 d-flex justify-content-center">
                            <h2 class="form text-center">Datos del Voluntario</h2>

                            <div class="perfil-usuario-avatar text-center">
                                <img [src]="
                    'http://localhost:5000/imagen/images/' + usuario.foto_perfil" alt="img-avatar" />
                            </div>

                            <div class="col-12">
                                <label for="cedula" class="form-label-p"> Cedula</label>
                                <input type="text" class="form-control" name="cedula" [(ngModel)]="persona.cedula"
                                    readonly onmousedown="return false" onkeydown="return false" />
                            </div>
                            <div class="col-6">
                                <label for="nombres" class="form-label-p"> Nombres</label>
                                <input type="text" class="form-control" name="nombres" [(ngModel)]="persona.nombres" />
                            </div>
                            <div class="col-6">
                                <label for="apellidos" class="form-label-p"> Apellidos</label>
                                <input type="text" class="form-control" name="apellidos"
                                    [(ngModel)]="persona.apellidos" />
                            </div>
                            <div class="col-6">
                                <label for="fechaNacimiento" class="form-label-p">
                                    Fecha De Nacimiento</label>
                                <input type="date" class="form-control" name="fechaNacimiento"
                                    [(ngModel)]="persona.fechaNacimiento" />
                            </div>
                            <div class="col-6">
                                <label for="genero" class="form-label-p"> Genero</label>
                                <select id="genero" class="form-control" name="genero" [(ngModel)]="persona.genero">
                                    <option value="" disabled selected>
                                        Selecciona un género
                                    </option>
                                    <option value="masculino">Masculino</option>
                                    <option value="famenino">Femenino</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="direccion" class="form-label-p"> Direccion</label>
                                <input type="text" class="form-control" name="direccion"
                                    [(ngModel)]="persona.direccion" />
                            </div>
                            <div class="col-md-6">
                                <label for="telefono" class="form-label-p"> Telefono</label>
                                <input type="text" class="form-control" name="telefono"
                                    [(ngModel)]="persona.telefono" />
                            </div>
                            <div class="col-md-6">
                                <label for="celular" class="form-label-p"> Celular</label>
                                <input type="text" class="form-control" name="celular" [(ngModel)]="persona.celular" />
                            </div>
                            <div class="col-12">
                                <label for="correo" class="form-label-p"> Correo</label>
                                <input type="email" class="form-control" name="correo" [(ngModel)]="persona.correo" />
                            </div>
                            <div class="col-md-6">
                                <label for="areatrabajo" class="form-label-p">Área de Trabajo</label>
                                <select id="areatrabajo" class="form-control" name="areatrabajo"
                                    [(ngModel)]="voluntario.area_trabajo">
                                    <option value="" disabled selected>
                                        Selecciona área de trabajo
                                    </option>
                                    <option value="masculino">Masculino</option>
                                    <option value="famenino">Femenino</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="cargo" class="form-label-p"> Cargo</label>
                                <select id="cargo" class="form-control" name="cargo" [(ngModel)]="voluntario.cargo">
                                    <option value="" disabled selected>
                                        Selecciona un cargo
                                    </option>
                                    <option value="masculino">Masculino</option>
                                    <option value="famenino">Femenino</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="username" class="form-label-p"> Username</label>
                                <input type="text" class="form-control" name="username"
                                    [(ngModel)]="usuario.username" />
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label-p">
                                    Contraseña <i class="uil uil-eye-slash showHidePw"></i></label>
                                <input type="password" class="password form-control" name="password"
                                    [(ngModel)]="usuario.password" />
                            </div>
                            <div class="foto">
                                <div class="roww">
                                    <div class="col-md-2 imgUp">
                                        <div class="imagePreview" *ngIf="file">
                                            <img [src]="file" class="imagePreview" alt="..." />
                                        </div>
                                        <label class="btn btn-primarys rounded-mid">Foto
                                            <input type="file" class="uploadFile img" value="Upload Photo"
                                                (change)="imageSelected($event)"
                                                style="width: 0px; height: 0px; overflow: hidden" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" (click)="actualizarVoluntarios()">
                    Actualizar
                </button>
            </div>
        </div>
    </div>
</div>