<header class="p-3 text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <div [hidden]="" style="margin-right: 20px">
          <img
            class="circular--square"
            src="./assets/Imagenes/xcc.png"
            style="margin: 0 auto"
          />
        </div>
        <i class="bi bi-house"></i>
      </a>
      <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li>
        <a
          href="#"
          class="nav-link text_0 px-2 text-white"
          routerLink="welcome"
          >HOME</a
        >
      </li>
      <li>
        <a href="#second" class="nav-link text_2 px-2">FUNDACIONES</a>
      </li>
      <li>
        <a
          href="#third"
          class="nav-link text_1">MASCOTAS</a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link text_3 px-2"
          routerLink="/"
          routerLinkActive="active"
          >PROCESO DE ADOPCION</a
        >
      </li>
    </ul>
    <div class="text-center" [hidden]="">
      <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="login"
    >
      Login
    </button>
        </div>
      </div>
    </div>
  </header>
