header {
    background-color: #a9b7e2;

}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
  
  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  .p-button-text{
    color: aliceblue;
  }
  .configuracionesbtn{
    width: 5px;
    height: 5px;
  }
  
  
  .circular--square {
    width: 50px;
    height: 50px;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    border-bottom-left-radius: 100% 100%;
  }
.text_1:hover {
    color: rgb(0, 0, 0);
}
.text_2:hover {
    color: rgb(0, 0, 0);
}
.text_3:hover {
    color: rgb(0, 0, 0);
}
.text_2:hover {
    color: rgb(0, 0, 0);
}
.text_0:hover{
    color: rgb(0, 0, 0);

}


/* 

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body{

  background-color: #eee;
}

.navbar-nav>li>a{

  text-transform: uppercase;
  font-size: 12px;
  margin-right:20px;
  color: #fff;
}


.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;

    }

    .nav-link{

      color: #fff !important;
    }


.wrapper{
      width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgb(8, 84, 250);
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{

  color:#fff;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper{

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

}

.navbar-brand:hover{

  color:#fff;
  
}

.navbar-red{

  background-color: rgb(0, 132, 255);
  color: #fff;

}

.all-show{

  z-index: 10;
}




*{
  padding:0;
  margin:0;
}

body{
  background:#eee;
  height:50vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn{
  width:150px;
  height:35px;
  border-radius:45px;
  cursor:pointer;
  border:none;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  box-shadow:0px 8px 15px rgba(0,0,0,0.1);
  transition:all 0.3s ease;
}

.btn:hover{
  background:#2ceae5;
  transform:translateY(-7px);
  color:#fff;
  box-shadow:0px 10px 25px rgba(46,223,229,0.445);
  
} */