.modal-dialog {
    max-width: 1100px !important
}

.form-titulo {
    background: black;
    color: white;
    height: 5px;
    margin-top: 3%;
    margin-bottom: 3%;

}

.modal-header {
    background-color: #a9b7e2;
    color: #000;
}

.btnO {
    background-color: #a9b7e2;
    color: white;
}

.btnA {
    background-color: rgb(114, 125, 226);
    color: white;
}

.nav {
    margin-bottom: 0px;
    margin: 0;
    padding: 0;
}

.row {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
}

/* NUEVO */

.roww {
    padding: 10px;
    align-content: center;
    text-align: center;
}

.imagePreview {
    align-content: center;
    width: 100%;
    height: 180px;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    margin: 0px auto;
}

.btn-primarys {
    background: #a9b7e2;
    display: block;
    color: white;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.btn-primarys1 {
    background: rgb(114, 125, 226);
    display: block;
    color: white;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
    margin: 0px auto;
}


/* IMAGEN */

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 150px;
    height: 150px;
}

.personal-avatar {
    cursor: pointer;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
    margin-top: 45px;
    width: 50px;
    height: 50px;
}

/* FIN */