<div class="container px-1 py-5 mx-auto p-8 rounded border-gray-200">
    <ul class="nav justify-content-center">
        <li class="col-md-6">
            <button type="button" class="btn btnA form-control">
                Registrar Fundación
            </button>
        </li>
        <li class="col-md-6">
            <button type="button" class="btn btnO form-control" routerLink="/list-fundacion">
                Listar Fundaciones
            </button>
        </li>
    </ul>
    

    <form class="row needs-validation g-2 d-flex justify-content-center" novalidate>
        <div class="separador">.</div>

        <h2 class="form text-center">Datos Fundación</h2>
        <div class="col-md-6">
            <label for="ruc" class="form-label-p"> Ruc</label>
            <input type="text" class="form-control" id="ruc" name="ruc" maxlength="13" [(ngModel)]="fundacion.ruc" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)" required/>
        </div>
        <div class="col-md-6">

            <label for="nombre_fundacion" class="form-label-p">Nombre fundación</label>
            <input  type="text" class="form-control"  id="nombre_fundacion" name="nombre_fundacion"  maxlength="25" [(ngModel)]="fundacion.nombre_fundacion" [pKeyFilter]="letrasEspace" required/>
        </div>
        <div class="col-md-6">
            <label for="acronimo" class="form-label-p"> Acrónimo</label>
            <input id="acronimo" type="text" class="form-control" name="acronimo" maxlength="8" [(ngModel)]="fundacion.acronimo" [pKeyFilter]="letrasEspace" required/>
        </div>
        <div class="col-md-6">
            <label for="mision" class="form-label-p"> Misión</label>
            <input id="mision" type="text" class="form-control" name="mision" maxlength="30" [(ngModel)]="fundacion.mision" [pKeyFilter]="letrasEspace" required/>
        </div>
        <div class="col-12">
            <label for="direccion" class="form-label-p"> Dirección</label>
            <input id="direccion" type="text" class="form-control" name="direccion" maxlength="30" [(ngModel)]="fundacion.direccion" [pKeyFilter]="letrasEspaceNumbers" required/>
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label-p"> Teléfono</label>
            <input id="telefono" type="text" class="form-control" name="telefono" maxlength="10" [(ngModel)]="fundacion.telefono"  [pKeyFilter]="'int'" (keypress)="onKeyPress($event)" required/>
        </div>
        <div class="col-md-6">
            <label for="correo" class="form-label-p"> Correo</label>
            <input id="correo" type="email" class="form-control" name="correo" maxlength="30" [(ngModel)]="fundacion.correo" class={{verfCorreo}}  (ngModelChange)="validarCorreo()" required/>
        </div>
        <div class="foto">
            <div class="roww">
                <div class="col-md-2 imgUp">
                    <div class="imagePreview" *ngIf="filem">
                        <img [src]="filem" class="imagePreview" alt="..." />
                    </div>
                    <label class="btn btn-primarys rounded-mid">Logo fundación

                        <input type="file" class="uploadFile img" value="Upload Photo" (change)="imageSelectedl($event)" style="width: 0px; height: 0px; overflow: hidden" />
                    </label>
                </div>
            </div>
        </div>

        <div class="separador">.</div>

        <!-- DISTINTOS -->

        <h2 class="form text-center">Datos Representante</h2>
        <div class="col-md-6">
            <label for="cedula" class="form-label-p"> Cédula</label>
            <input id="cedula" type="text" class="form-control" name="cedula" maxlength="10" [(ngModel)]="persona.cedula" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)"  required/>
        </div>
        <div class="col-md-6">
            <label for="nombres" class="form-label-p"> Nombres</label>
            <input id="nombres" type="text" class="form-control" name="nombres" maxlength="30" [(ngModel)]="persona.nombres" [pKeyFilter]="letrasEspace" required/>
        </div>
        <div class="col-12">
            <label for="apellidos" class="form-label-p"> Apellidos</label>
            <input id="apellidos" type="text" class="form-control" name="apellidos" maxlength="30" [(ngModel)]="persona.apellidos" [pKeyFilter]="letrasEspace" required/>
        </div>
        <div class="col-12">
            <label for="fechaNacimiento" class="form-label-p">Fecha de nacimiento</label>
            <input id="fechaNacimiento" type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="persona.fechaNacimiento" required/>
        </div>
        <div class="col-md-6">
            <label for="direccion" class="form-label-p"> Dirección</label>
            <input id="direccion" type="text" class="form-control" name="direccion" maxlength="30" [(ngModel)]="persona.direccion" [pKeyFilter]="letrasEspaceNumbers" required/>
        </div>
        <div class="col-md-6">
            <label for="genero" class="form-label-p"> Género</label>
            <select id="genero" class="form-control" name="genero" [(ngModel)]="persona.genero" required>
                <option value="" disabled selected>Selecciona un género</option>
                <option value="masculino">Masculino</option>
                <option value="famenino">Femenino</option>
                <option value="otro">Sin especificar</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label-p"> Teléfono</label>
            <input id="telefono" type="text" class="form-control" name="telefono" maxlength="7" [(ngModel)]="persona.telefono" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)"  required/>
            
        </div>
        <div class="col-md-6">
            <label for="celular" class="form-label-p"> Celular</label>
            <input id="cedular" type="text" class="form-control" name="celular" maxlength="10" [(ngModel)]="persona.celular" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)"  required/>
        </div>
        <div class="col-md-12">
            <label for="correo" class="form-label-p"> Correo</label>
            <input id="correo" type="email" class="form-control" name="correo" [(ngModel)]="persona.correo" class={{verfCorreo2}}  (ngModelChange)="validarCorreo2()" required/>
        </div>
        <div class="col-md-4">
            <label for="username" class="form-label-p"> Usuario</label>
            <input id="username" type="text" class="form-control datosUser" name="username" maxlength="30" [(ngModel)]="usuario.username" required/>
        </div>
        <div class="col-md-4">
            <label for="password" class="form-label-p"> Contraseña <i class="uil uil-eye-slash showHidePw"></i></label>
            <input id="password" type="password" class="password form-control datosUser" name="password" [(ngModel)]="usuario.password" required/>
        </div>
        <div class="col-md-4">
            <label for="password" class="form-label-p"> Repita su Contraseña</label>
            <input id="password" type="password" class="password form-control datosUser" name="password" [(ngModel)]="verficarPassword" required/>
        </div>
        <div class="foto">
            <div class="roww">
                <div class="col-md-2 imgUp">
                    <div class="imagePreview" *ngIf="file">
                        <img [src]="file" class="imagePreview" alt="..." />
                    </div>
                    <label class="btn btn-primarys rounded-mid">Foto de Perfil
                        <input type="file" class="uploadFile img" value="Upload Photo" (change)="imageSelected($event)"
                            style="width: 0px; height: 0px; overflow: hidden" />
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info" (click)=" limpiarCampos()">Cancelar</button>
        <button type="submit" class="btn btn-primary" style="background-color: #32507d;" (click)="registrarFundacion()">Registrarse</button>
    </form>
</div>