<div class="container px-1 py-5 mx-auto p-8 rounded border-gray-200">

    <ul class="nav  justify-content-center">
        <li class="col-md-6">
            <button type="button" class="btn btnA form-control" >Registrar Voluntario</button>
        </li>
        <li class="col-md-6">
            <button type="button" class="btn btnO form-control" routerLink="/list-voluntario">Listar Voluntarios</button>
        </li>
    </ul>
    

    <form class="row  needs-validation g-2 d-flex justify-content-center" novalidate>
        <h2 class="form text-center">Datos del Voluntario</h2>
        <div class="col-12">
            <label for="cedula" class="form-label-p"> Cédula</label>
            <input id="cedula" type="text" class="form-control" name="cedula"
            maxlength="10" [(ngModel)]="persona.cedula" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)" required> 
        </div>
        <div class="col-6">
            <label for="nombres" class="form-label-p"> Nombres</label>
            <input id="nombres" type="text" class="form-control" name="nombres" 
            maxlength="30"  [(ngModel)]="persona.nombres" [pKeyFilter]="letrasEspace"  required>
        </div>
        <div class="col-6">
            <label for="apellidos" class="form-label-p"> Apellidos</label>
            <input id="apellidos" type="text" class="form-control" name="apellidos"
            maxlength="30"  [(ngModel)]="persona.apellidos" [pKeyFilter]="letrasEspace"  required>
        </div>
        <div class="col-6">
            <label for="fechaNacimiento" class="form-label-p"> Fecha De Nacimiento</label>
            <input id="fechaNacimiento" type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="persona.fechaNacimiento" required>
        </div>
        <div class="col-6">
            <label for="genero" class="form-label-p"> Género</label>
            <select id="genero" class="form-control" name="genero" [(ngModel)]="persona.genero" required>
                <option value="" disabled selected>Selecciona un género</option>
                <option value="masculino">Masculino</option>
                <option value="famenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="col-12">
            <label for="direccion" class="form-label-p"> Dirección</label>
            <input id="direccion" type="text" class="form-control" name="direccion" 
            maxlength="30"  [(ngModel)]="persona.direccion" [pKeyFilter]="letrasEspaceNumbers" required>
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label-p"> Teléfono</label>
            <input id="telefono" type="text" class="form-control" name="telefono" 
            maxlength="7" [(ngModel)]="persona.telefono" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)"  required>
        </div>
        <div class="col-md-6">
            <label for="celular" class="form-label-p"> Celular</label>
            <input id="celular" type="text" class="form-control" name="celular"
            maxlength="10"  [(ngModel)]="persona.celular" [pKeyFilter]="'int'" (keypress)="onKeyPress($event)"  required>
        </div>
        <div class="col-12">
            <label for="correo" class="form-label-p"> Correo</label>
            <input id="correo" type="email" class="form-control" name="correo" 
            maxlength="30"  [(ngModel)]="persona.correo" required>
        </div>
        <div class="col-md-12">
            <label for="areatrabajo" class="form-label-p">Área de Trabajo</label>
            <select id="areatrabajo" class="form-control" name="areatrabajo" [(ngModel)]="voluntario.area_trabajo" required>
                <option value="" disabled selected>Selecciona área de trabajo</option>
                <option value="Clinica">Clínica</option>
                <option value="Peluqueria">Peluquería</option>
                <option value="Peluqueria">Limpieza</option>
                <option value="Peluqueria">Recreacional y adiestramiento</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <!-- <div class="col-md-6">
            <label for="cargo" class="form-label-p"> Cargo</label>
            <select id="cargo" class="form-control" name="cargo" [(ngModel)]="voluntario.cargo" required>
                <option value="" disabled selected>Selecciona un cargo</option>
                <option value="masculino">Solictud de Adopcion</option>
                <option value="famenino">Seguimiento de Mascota</option>
                <option value="otro">Otro</option>
            </select>
        </div> -->
        <div class="col-12">
            <label for="username" class="form-label-p"> Usuario</label>
            <input id="username" type="text" class="form-control" name="username" 
            maxlength="30" [(ngModel)]="usuario.username" required>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label-p"> Contraseña <i class="uil uil-eye-slash showHidePw"></i></label>
            <input id="password" type="password" class="password form-control" name="password" [(ngModel)]="usuario.password" required>
        </div>
        <div class="col-md-6">
            <label for="verficarPassword" class="form-label-p"> Repita su Contraseña</label>
            <input id="verficarPassword" type="password" class="password form-control" name="verficarPassword" [(ngModel)]="verficarPassword" required>
        </div>
        <div class="foto">
            <div class="roww">
                <div class="col-md-2 imgUp">
                    <div class="imagePreview" *ngIf="file">
                        <img [src]="file" class="imagePreview" alt="..." />
                    </div>
                    <label class="btn btn-primarys rounded-mid">Foto
                        <input type="file" class="uploadFile img" value="Upload Photo" (change)="imageSelected($event)"
                            style="width: 0px;height: 0px;overflow: hidden;">
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="registrarVoluntario()">Registrar Voluntario</button>
        <button type="button" class="btn " (click)=" limpiarCampos()" style="background-color: #a9cbff; border: #a9cbff;" >Cancelar</button>
    </form>
</div>