<div class="container px-1 py-5 mx-auto p-8 rounded border-gray-200">

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <button class="btn btn-primary m-1" type="button">Registrar Voluntario</button>
            <button class="btn btn-primary m-1" type="button" routerLink="/list-voluntario">Listar Voluntarios</button>
        </li>
    </ul>
    <form class="row g-2 d-flex justify-content-center">
        <h2 class="form-titulo text-center">.</h2>
        <h2 class="form text-center">Datos del Voluntario</h2>
        <div class="col-12">
            <label for="cedula" class="form-label-p"> Cedula</label>
            <input type="text" class="form-control" name="cedula" [(ngModel)]="persona.cedula"> 
        </div>
        <div class="col-6">
            <label for="nombres" class="form-label-p"> Nombres</label>
            <input type="text" class="form-control" name="nombres" [(ngModel)]="persona.nombres">
        </div>
        <div class="col-6">
            <label for="apellidos" class="form-label-p"> Apellidos</label>
            <input type="text" class="form-control" name="apellidos" [(ngModel)]="persona.apellidos">
        </div>
        <div class="col-6">
            <label for="fechaNacimiento" class="form-label-p"> Fecha De Nacimiento</label>
            <input type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="persona.fechaNacimiento">
        </div>
        <div class="col-6">
            <label for="genero" class="form-label-p"> Genero</label>
            <select id="genero" class="form-control" name="genero" [(ngModel)]="persona.genero">
                <option value="" disabled selected>Selecciona un género</option>
                <option value="masculino">Masculino</option>
                <option value="famenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="col-12">
            <label for="direccion" class="form-label-p"> Direccion</label>
            <input type="text" class="form-control" name="direccion" [(ngModel)]="persona.direccion">
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label-p"> Telefono</label>
            <input type="text" class="form-control" name="telefono" [(ngModel)]="persona.telefono">
        </div>
        <div class="col-md-6">
            <label for="celular" class="form-label-p"> Celular</label>
            <input type="text" class="form-control" name="celular" [(ngModel)]="persona.celular">
        </div>
        <div class="col-12">
            <label for="correo" class="form-label-p"> Correo</label>
            <input type="email" class="form-control" name="correo" [(ngModel)]="persona.correo">
        </div>
        <div class="col-md-6">
            <label for="areatrabajo" class="form-label-p">Área de Trabajo</label>
            <select id="areatrabajo" class="form-control" name="areatrabajo" [(ngModel)]="voluntario.area_trabajo">
                <option value="" disabled selected>Selecciona área de trabajo</option>
                <option value="masculino">Masculino</option>
                <option value="famenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="cargo" class="form-label-p"> Cargo</label>
            <select id="cargo" class="form-control" name="cargo" [(ngModel)]="voluntario.cargo">
                <option value="" disabled selected>Selecciona un cargo</option>
                <option value="masculino">Masculino</option>
                <option value="famenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="col-12">
            <label for="username" class="form-label-p"> Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="usuario.username">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label-p"> Contraseña <i class="uil uil-eye-slash showHidePw"></i></label>
            <input type="password" class="password form-control" name="password" [(ngModel)]="usuario.password">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label-p"> Repita su Contraseña</label>
            <input type="password" class="password form-control" name="password" [(ngModel)]="verficarPassword">
        </div>
        <div class="foto">
            <div class="roww">
                <div class="col-md-2 imgUp">
                    <div class="imagePreview" *ngIf="file">
                        <img [src]="file" class="imagePreview" alt="..." />
                    </div>
                    <label class="btn btn-primarys rounded-mid">Foto
                        <input type="file" class="uploadFile img" value="Upload Photo" (change)="imageSelected($event)"
                            style="width: 0px;height: 0px;overflow: hidden;">
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="registrarVoluntario()">Registrar Voluntario</button>
    </form>
</div>