<div class="container px-1 py-5 mx-auto p-8 rounded border-gray-200">

  <ul class="nav justify-content-center">
    <li class="col-md-6">
      <button type="button" class="btn btnO form-control " routerLink="/reg-mascota">Registrar Mascota</button>
    </li>
    <li class="col-md-6">
      <button class="btn btnA form-control">Listar Mascotas</button>
    </li>
  </ul>

  <div class="row mt-6">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">ID</th>
            <th scope="col">Chip</th>
            <th scope="col">Nombre</th>
            <th scope="col">Color</th>
            <th scope="col">Sexo</th>
            <th scope="col">Raza</th>
            <th scope="col">Especie</th>
            <!-- <th scope="col">Descripción</th> -->
            <th scope="col">Estado adopción</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;"
            *ngFor="let mascota of listaMascotas | paginate: {itemsPerPage: 5, currentPage: pageActual}; index as i ">
            <th scope="row">{{i+1}}</th>
            <td>{{mascota.chipMascota}}</td>
            <td>
              {{mascota.nombre_mascota}}
            </td>
            <td>{{mascota.color}}</td>
            <td>{{mascota.sexo}}</td>
            <td>{{mascota.raza}}</td>
            <td>{{mascota.especie}}</td>
            <!-- <td>{{mascota.descripcion}}</td> -->
            <td style="text-align: center;">
              <div *ngIf='obtenerEstado(mascota.estado_adopcion) === "NO ADOPTADO"'><b style="text-align: center; color: orange;"><i class="pi pi-thumbs-down-fill"></i></b></div>
              <div *ngIf='obtenerEstado(mascota.estado_adopcion) === "ADOPTADO"'><b style="color: rgb(77, 255, 0);"><i class="pi pi-thumbs-up-fill"></i></b></div>
            </td>
            <td>
              <button (click)="capParaEdicion(mascota.idMascota)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUpdate"><i class="pi pi-pencil"></i></button>
            </td>
            <td>
              <button *ngIf='mascota.estado == true' (click)=" descativarMascota(mascota.idMascota)"  class="btn btn-danger"><i class="pi pi-times"></i></button>
              <button *ngIf='mascota.estado == false' (click)=" ativarMascota(mascota.idMascota)"  class="btn btn-success"><i class="pi pi-power-off"></i></button>
            </td>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>

  <div class="contendor p-25" style="text-align: center; padding-bottom: 8px;">
    <!-- <button pButton type="button" (click)="generarPDF()" style="background-color: red;" label="Generar Reporte" icon="pi pi-file-pdf"></button> -->
    <button type="button" style="background-color: red;" class="btn btn-primary" (click)="openPdfTables()"><i class="pi pi-file-pdf"></i> Generar Reporte</button>
    <!-- <button pButton type="button" (click)="openPdfTables()"  label="Generar Reporte" icon="pi pi-file-pdf"></button> -->
  </div>
</div>


<!-- Modal -->
<div class="modal " id="modalUpdate" tabindex="-5" aria-labelledby="modalUpdateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container w-75 mt-25 me-25 mt-5 shadown">
        <div class="rows align-items-strech">
          <div class="col bg-white mt-25 p-25 ">

            <form class="row g-2 d-flex justify-content-center">

              <h2 class="form-label-p text-center"><b>Datos Mascota</b></h2>

              <div class="perfil-usuario-avatar text-center">
                <img [src]="'http://localhost:5000/imagen/images/' + mascota.foto" alt="img-avatar">
              </div>

              <div class="col-md-6">
                <label for="chip" class="form-label-p"> Chip</label>
                <input type="text" class="form-control" name="chip_mascota" 
                [(ngModel)]="mascota.chipMascota" readonly onmousedown="return false" onkeydown="return false">
              </div>
              <div class="col-md-6">
                <label for="nombreM" class="form-label-p"> Nombre</label>
                <input type="text" class="form-control" name="nombre_mascota"
                maxlength="30"  [(ngModel)]="mascota.nombre_mascota" [pKeyFilter]="letrasEspace">
              </div>
              <div class="col-md-6">
                <label for="color" class="form-label-p"> Color</label>
                <input type="text" class="form-control" name="color"
                maxlength="20" [(ngModel)]="mascota.color" [pKeyFilter]="letrasEspace">
              </div>
              <div class="col-md-6">
                <label for="sexo" class="form-label-p"> Sexo</label>
                <select id="sexo" class="form-control" name="sexo" [(ngModel)]="mascota.sexo">
                  <option value="" disabled selected>Selecciona un sexo</option>
                  <option value="Macho">Macho</option>
                  <option value="Hembra">Hembra</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="raza" class="form-label-p"> Raza</label>
                <input type="text" class="form-control" name="raza"
                maxlength="30" [(ngModel)]="mascota.raza" [pKeyFilter]="letrasEspace">
              </div>
              <div class="col-md-6">
                <label for="especie" class="form-label-p"> Especie</label>
                <select id="especie" class="form-control" name="especie" [(ngModel)]="mascota.especie">
                  <option value="" disabled selected>Selecciona una especie</option>
                  <option value="canino">Canino</option>
                  <option value="felino">Felino</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="especie" class="form-label-p"> Esterelizado</label>
                <select id="especie" class="form-control" name="estado_mascota" [(ngModel)]="mascota.estado_mascota">
                  <option value="" disabled selected>Selecciona una opción</option>
                  <option value="true">Si</option>
                  <option value="false">No</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="descripcion" class="form-label-p"> Descripción</label>
                <textarea class="form-control" aria-label="With textarea" name="descripcion"
                maxlength="30"   [(ngModel)]="mascota.descripcion" [pKeyFilter]="letrasEspaceNumbers" ></textarea>
              </div>

              <br>
              <div class="foto">
                <div class="roww">
                  <div class="col-md-2 imgUp">
                    <div class="imagePreview" *ngIf="file">
                      <img [src]="file" class="imagePreview" alt="..." />
                    </div>
                    <label class="btn btn-primarys rounded-mid">Foto
                      <input type="file" class="uploadFile img" value="Upload Photo" (change)="imageSelected($event)"
                        style="width: 0px;height: 0px;overflow: hidden;">
                    </label>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primarys" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="actualizarMascota()" class="btn btn-primarys1">Actualizar</button>
      </div>
    </div>
  </div>
</div>