<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Chip</th>
        <th scope="col">Nombre</th>
        <th scope="col">Color</th>
        <th scope="col">Sexo</th>
        <th scope="col">Raza</th>
        <th scope="col">Especie</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado adopción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>56789456545</td>
        <td>Otto</td>
        <td>Gris</td>
        <td>Macho</td>
        <td>Schnauzer</td>
        <td>Canino</td>
        <td>Adulto</td>
        <td>En espera</td>
        <div class="btn-group btn-group-sm">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Actualizar</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Eliminar</button>
            </div>
        </div>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>44566889987</td>
        <td>Thom</td>
        <td>Blanco</td>
        <td>Macho</td>
        <td>Siamés</td>
        <td>Felino</td>
        <td>Cachorro</td>
        <td>Adoptado</td>
        <div class="btn-group btn-group-sm">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Actualizar</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Eliminar</button>
            </div>
        </div>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3515254425</td>
        <td>Larry</td>
        <td>Verde</td>
        <td>Hembra</td>
        <td>Ave</td>
        <td>Loro</td>
        <td>Adulto</td>
        <td>En espera</td>
        <div class="btn-group btn-group-sm">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Actualizar</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Eliminar</button>
            </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
  

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span class="sr-only">Next</span>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
