<body>
    <div class="capa">
    <div class="table_res">
        
        <table>
            
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Raza</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="/assets/Imagenes/perro1.jpg" alt="" height="100px" >
                    </td>
                    <td>Golden</td>
                    <td>Max</td>
                    <td>
                        <span class="action_btn">
                            <a href="#">Adoptar</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
