
body{
    background: rgb(163, 226, 255);
    padding: 35px;
    
}
.bg {
    background-image: url('/assets/Imagenes/login-form.jpg');
    background-position: center center;

}
.modal-dialog { 
    max-width: 1350px!important
}

.form-label-p {
    padding: px;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    right:12px;
    top: 50%;
    transform: translateY(-50%);
}