<body>
    
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="text-end">
                    <img src="./assets/Imagenes/logo.png" width="48"  alt="logo">
                </div>
            </div>

            <h2 class="fw-bold text-center py-5"> Bienvenido</h2>
        
            <!-- LOGIN -->

            <form action="#">
                <div class="mb-4">
                    <label for="email" class="form-label"> Username</label>
                    <input type="email" class="form-control" name="email" >
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label"> Password</label>
                    <input type="password" class="form-control" name="password" >
                </div>
                <div class="mb-4">

                </div>
            </form>


        </div>
    </div>

</body>