<body>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <div class="container w-95 mt-100 me-25 bg-primary rounded shadown">
        <div class="row align-items-strech">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col bg-white mt-30 p-20 rounded-end">
                <div class="imagen text-end">
                    <img class="imgen" src="./assets/Imagenes/logoFundacionesMascotas.png" width="85" alt="logo">
                </div>
                <h2 class="fw-bold text-center py-1"> Bienvenido</h2>

                <!-- LOGIN -->

                <form action="#">
                    <div class="mb-4">
                        <label for="username" class="form-label"> Username <i class="uil uil-user"></i></label>
                        <input id="username" class="form-control" name="username" type="username"
                            [(ngModel)]="usuario.username" [pKeyFilter]="'alphanum'" maxlength="30" minlength="3"
                            pInputText placeholder="Ingresa tu nombre de usuario" />


                    </div>
                    <div class="mb-4 input-wrapper input-field">
                        <label for="password" class="password form-label"> Password <i
                                class="uil uil-lock icon"></i></label>
                        <input id="password" class="password form-control" name="password" type="password"
                            [(ngModel)]="usuario.password" [pKeyFilter]="'alphanum'" maxlength="15" minlength="5"
                            placeholder="**************" />
                        <i class="input-icon uil uil-eye-slash showHidePw"></i>
                        <small id="password-help">Ingresa mas de 5 digitos</small>
                    </div>

                    <div class="d-grid text-center">
                        <button  type="submit" class="btn btn-primary p-button-rounded" style="text-align: center;" (click)="login()" value="Iniciar Sesión">Iniciar Sesión</button>
                    </div>

                    <!-- <ng-container *ngIf="showSpinner">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </ng-container> -->

                    <div class="my3 text-center p-1">
                        <span>Aun no tienes cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrate aqui</a></span><br>
                        <span>Olvido su contraseña? <a href="#" data-bs-toggle="modal" data-bs-target="#examplePassword">Click aqui</a></span><br>
                    </div>
                    
                    <div class="my3">
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <!-- <h5 class="modal-title" id="exampleModalLabel"  style="text-align: center;">Registrate</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                </div>
                <div class="container w-75 mt-25 me-25 mt-5 shadown">
                    <div class="row align-items-strech">
                        <div class="col bg-white mt-25 p-25 grid p-fluid ">

                            <h5 class="titulo" id="titulo"  style="text-align: center; padding: 25px;" >FORMULARIO DE REGISTRO</h5>
                            <form class="row g-2">
                                <div  class="col-md-6">
                                    <label for="cedula" class="form-label-p"> Cedula</label>
                                    <!-- <input type="text" class="form-control" name="cedula" pInputText pKeyFilter="alpha" [(ngModel)]="persona.cedula"> -->
                                    <input id="cedula" type="text" name="cedula" maxlength="10" pInputText [(ngModel)]="persona.cedula" [pKeyFilter]="'int'">
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="nombres" class="form-label-p"> Nombres</label>
                                    <input type="text" class="form-control" name="nombres" maxlength="30" pInputText [(ngModel)]="persona.nombres" [pKeyFilter]="letrasEspace" (keyup)="formatInput(persona.nombres)">
                                </div>

                                <div class="col-md-6">
                                    <label for="apellidos" class="form-label-p"> Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos"  maxlength="30" pInputText [(ngModel)]="persona.apellidos" [pKeyFilter]="letrasEspace">
                                </div>
                                <div class="col-md-6">
                                    <label for="fechaNacimiento" class="form-label-p"> Fecha De Nacimiento</label>
                                    <p-calendar type="date" class="fecha" name="fechaNacimiento" [(ngModel)]="persona.fechaNacimiento" [showIcon]="true" inputId="icon" (ngModelChange)="calcularEdad()"></p-calendar>
                                </div>
                                <div class="col-md-6">
                                    <label for="direccion" class="form-label-p"> Direccion</label>
                                    <input type="text" class="form-control" name="direccion" maxlength="50" pInputText [(ngModel)]="persona.direccion" [pKeyFilter]="letrasEspaceNumbers">
                                </div>
                                <div class="col-md-6">
                                    <label for="genero" class="form-label-p"> Genero</label>
                                    <p-dropdown id="genero" name="genero" [options]="generos" [(ngModel)]="persona.genero" placeholder="Selecciona un género" [showClear]="true"></p-dropdown>
                                    <!-- <select id="genero" class="form-control" id="genero" [(ngModel)]="persona.genero">
                                        <option value="" disabled selected>Selecciona un género</option>
                                        <option value="masculino">Masculino</option>
                                        <option value="famenino">Femenino</option>
                                        <option value="otro">Otro</option>
                                    </select> -->
                                </div>
                                <div class="col-md-6">
                                    <label for="telefono" class="form-label-p"> Telefono</label>
                                    <input type="text" class="form-control" name="telefono" maxlength="7" pInputText [(ngModel)]="persona.telefono" [pKeyFilter]="'int'">
                                </div>
                                <div class="col-md-6">
                                    <label for="celular" class="form-label-p"> Celular</label>
                                    <p-inputMask mask="0999999999"  name="celular" [(ngModel)]="persona.celular"></p-inputMask>
                                    <!-- <input type="text" class="form-control" name="celular" maxlength="10" pInputText [(ngModel)]="persona.celular"> -->
                                </div>
                                <div class="col-md-6">
                                    <label for="correo" class="form-label-p"> Correo</label>
                                    <input id="correo" type="text" class="form-control"  name="correo" maxlength="30" pInputText [(ngModel)]="persona.correo" class={{verfCorreo}}  (ngModelChange)="validarCorreo()">
                                    <!-- <input type="email" class="form-control" name="correo" [(ngModel)]="persona.correo"> -->
                                </div>
                                <div class="col-md-6">
                                    <label for="username" class="form-label-p"> Username</label>
                                    <input type="text" class="form-control" name="username" maxlength="15" pInputText [(ngModel)]="usuario.username">
                                </div>
                                <div class="col-md-6">
                                    <label for="password" class="form-label-p"> Contraseña</label>
                                    <p-password name="password" [(ngModel)]="usuario.password" [toggleMask]="true"></p-password>
                                    <!-- <input type="password" class="password form-control" name="password"
                                        [(ngModel)]="usuario.password"> -->
                                </div>
                                <div class="col-md-6">
                                    <label for="password" class="form-label-p"> Repita su Contraseña</label>
                                    <p-password name="password" [(ngModel)]="verficarPassword" [toggleMask]="true"></p-password>
                                    <!-- <input type="password" class="password form-control" name="password"
                                        [(ngModel)]="verficarPassword"> -->
                                </div>
                                <div class="foto">
                                    <div class="roww">
                                        <div class="col-md-2 imgUp">
                                            <div class="imagePreview" *ngIf="file">
                                                <img [src]="file" class="imagePreview" alt="..." />
                                            </div>
                                            <label class="btn btn-primarys rounded-mid">Foto de Perfil
                                                <input type="file" class="uploadFile img" value="Upload Photo" (change)="imageSelected($event)"
                                                    style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=" limpiarCampos()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="registrarUsuario()">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="examplePassword" tabindex="-5" aria-labelledby="examplePassword" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <button type="button" (click)="limpiarRecuContra()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                </div>
                <div class="container w-75 mt-25 me-25 mt-5 shadown">
                    <div class="row align-items-strech">
                        <div class="col bg-white mt-25 p-25 grid p-fluid ">

                            <h5 class="titulo" id="titulo"  style="text-align: center; padding: 25px;" >Recuperaración de constraseña</h5>
                            <div *ngIf="cargando">Cargando...</div>
                            <form class="row g-2">
                                <div  class="col-md-12" *ngIf='activarPassword == false'>
                                    <label for="cedula" class="form-label-p"> Cedula</label>
                                    <input id="cedula" type="text" name="cedula" maxlength="10" pInputText [(ngModel)]="cedulaValidar" [pKeyFilter]="'int'">
                                </div>
                                <button *ngIf='activarPassword == false' type="button" class="btn btn-primary" (click)="validarCedula()">Validar</button>
                                <h5 *ngIf='activarPassword == true' class="titulo" id="titulo"  style="text-align: center; padding: 25px;" >Username: {{usuario.username}} </h5>
                                <div class="col-md-6" *ngIf='activarPassword == true' >
                                    <label for="password" class="form-label-p"> Contraseña</label>
                                    <p-password name="password" [(ngModel)]="usuario.password" [toggleMask]="true"></p-password>
                                </div>
                                <div class="col-md-6" *ngIf='activarPassword == true' >
                                    <label for="password" class="form-label-p"> Repita su Contraseña</label>
                                    <p-password name="password" [(ngModel)]="verficarPassword" [toggleMask]="true"></p-password>
                                </div>      
                                <button *ngIf='activarPassword == true' type="button" class="btn btn-primary" (click)="cambiarConstra()">Cambiar Constraseña</button>     
                                <div class="col-md-6" style="padding-bottom: 30px;">
                                </div>           
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarRecuContra()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</body>