
body {
    background: #a9b7e2;
    padding: 42px;
}


.bg {
    background-image: url('/assets/Imagenes/login-form.jpg');
    background-position: center center;

}
.modal-dialog { 
    max-width: 1350px!important
}

.form-label-p {
    padding: 0px;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    right:12px;
    top: 50%;
    transform: translateY(-50%);
}

.imgen{
    margin-top: 15px;
    padding: 10px;
}