<!---Section--->


<section>
  <div class="slider">
    <ul>
      <img class="imagenes" src="./assets/Imagenes/mascotas.png">
      <img class="imagenes" src="./assets/Imagenes/Adopcionmascota.jpg">
      <img class="imagenes" src="./assets/Imagenes/BMascota.jpg">
      <img class="imagenes" src="./assets/Imagenes/MascotaN.jpg">
    </ul>
  </div>
</section>

<!--End Section-->

<hr style="color: rgb(113, 10, 209); height: 10px;">

<!---Section--->
<section href="#proceso">
  <div class="card">
    <img src="./assets/Imagenes/Banneradopta.png" alt="Imagen">
    <div class="info">
      <h2>PROCESO PARA ADOPTAR UNA MASCOTA</h2>
      <br>
      <p><i class="pi pi-check"></i> Entrar al listado para ver las mascotas disponibles y escoger al que quisieran adoptar.</p>
      <br>
      <p><i class="pi pi-check"></i>  Una vez escogido, llenar el formulario de adopción.</p>
      <br>
      <p><i class="pi pi-check"></i>  Después de llenar el formulario y haber mandado llegará directamente a la fundación, quienes analizarán cada
        caso.</p>
      <br>
      <p><i class="pi pi-check"></i> Después de haber sido aprobado, recibirá una respuesta para coordinar con la fundación para los papeles de la
        mascota.</p>
      <br>
      <h6>¡Y finalmente tendrás un nuevo amigo en casa!</h6>
    </div>
  </div>
</section>
<!--End Section-->
<hr style="color: rgb(113, 10, 209); height: 10px;">

<!---Section--->

<section id="second" href="#fundacion" class="testimonials">
  <div class="heading text-center">
    <h2>Fundaciones</h2><br>
  </div>

  <div class="containere">
    <div class="row text-center">
      <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="container">
              <!-- Item-1 -->
              <div *ngFor="let fundacion of listaFundaciones; let first = first" class="carousel-item  text-center"
                [ngClass]="{'active': first}">
                <img [src]="'http://localhost:5000/imagen/images/' + fundacion.logo" alt="Foto de Gino"
                  class="center-block team" />
                <p>{{fundacion.nombre_fundacion}}</p>
                <p>
                  {{fundacion.acronimo}}
                </p>
                <p>
                  {{fundacion.mision}}
                </p>
                <p>{{fundacion.correo}}</p>
                <p>{{fundacion.telefono}}</p>
                <p>{{fundacion.direccion}}</p>

              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<hr style="color: rgb(113, 10, 209); height: 10px;">
<!---Section--->
<section id="third" href="#mascota" style="background-color: rgb(228, 255, 255);">
  <h2 style="text-align: center; padding: 20px">MASCOTAS EN ADOPCIÓN</h2>
  <!-- Card-->
  <div class="px-lg-5">
    <div class="row">
      <div class="carta col-xl-3 col-lg-4 col-md-6 mb-4 p-25" *ngFor="let mascotas of listaMascotas">
        <div class="container-mascota rounded ">
          <div class="box">
            <img [src]="'http://localhost:5000/imagen/images/' + mascotas.foto" [alt]="mascotas.foto"
              class="mascotas_foto" />
            <div class="content p-4">
              <h3>{{mascotas.nombre_mascota}}</h3>
              <p>{{mascotas.sexo}}</p>
              <p>{{mascotas.especie}}</p>
              <p>{{mascotas.raza}}</p>
              <!-- <p>{{mascotas.descripcion}}</p>    -->
              <p><b>Fundacion: </b>{{mascotas.fundacion?.nombre_fundacion}}</p>   
              <p><a class="details" href="login" routerLink="/login">ADOPTAR</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card end-->
</section>


<!--End Section-->

<hr style="color: rgb(113, 10, 209); height: 10px;">
<section>
  <div class="card">
    <img src="./assets/Imagenes/misionbanner.jpg" alt="Imagen">
    <div class="info">
      <h2>¿CUÁL ES EL OBJETIVO DE "ADOPTA NO COMPRES"?</h2>
      <br>
      <p>"ADOPTA NO COMPRES" tiene el objetivo de que varias fundaciones puedan registrarse con la funcionalidad de que
        ingresen a las mascotas que van teniendo en su establecimiento y así poder que varios usuarios puedan adoptar a
        una de las
        mascotas para que puedan tener una vida mejor de la que tuvieron antes.</p>
      <br>
      <h6>¡¡Y RECUERDA PREFERIBLE ADOPTAR ANTES QUE COMPRAR!!</h6>
    </div>
  </div>
</section>

<hr style="color: rgb(113, 10, 209); height: 10px;">


<!--End Section-->