body {
    background: rgb(163, 226, 255);
    padding: 35px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.title {
    text-align: center;

}

.text {
    margin-left: 48vh;
}

.containers {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.imagen{
    background-position: center center;
}

.conta{
    display: contents;
}

.carousel-inner img {
    width: 100%;
    height: auto;
  }


.container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 60%;
    background-color: #bfffe8;
}

.cont {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 60%;
    background-color: #897af8;
}


.container-text {
    position: absolute;
    top: 50%;
    right: 20%;
}

.container2 {
    position: absolute;
    top: 50%;
    left: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-text2 {
    position: absolute;
    top: 50%;
    left: 20%;
}

#hero {
    background-image: url('/assets/Imagenes/mascotas.png');
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}



#heros {
    background-image: url('/assets/Imagenes/objetivo.png');
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}


#second {
    /* background-image: url('/assets/Imagenes/fundacion.png'); */
    background-position: top center;
    background-color:rgb(114, 125, 226);
    background-size: cover;
    position: relative;
    z-index: 1;
}

#second::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}


#third {
    background-color:rgb(114, 125, 226);
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#third::after {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
    z-index: -1;
}

/* Estilos de Procesos de Adopcion */
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: #bdb7e8;
  }
  
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .info {
    padding: 60px;
  }
  
  .info h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .info p {
    margin-bottom: 0;
    text-align: justify;
  }
  
  .info a {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #89b9ec;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .card {
      flex-direction: row;
      height: 400px;
    }
    
    .card img {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
    
    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: normal;
    }
  }
/* Estilos de Fundaciones */
.testimonios {
    padding: 40px 40px 80px 40px;
    margin: 0 auto;
}

.testimonios .carousel {
    max-width: 800px;
}



.testimonio-imagen {
    height: 200px;
    width: 150px;
    position: relative;
    bottom: 90px;
    left: 25px;
}
.seccion-titulo{
    text-align: center;
    color: aliceblue;

}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    left: 30px;
    
}

.testimonio-info {
    font-weight: bold;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 400px;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
    position: relative;
    left: 30px;
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }

    .testimonio-texto {
        font-size: 18px;
    }
}
.carta{
    padding: 25px;
}

/* Estilos de Macota */
.box {
    height: 280px;
    width: 300px;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.box img {
    width: 100%;
    height: 100%
}

.content {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.7s;
    opacity: 0.7
}

.box:hover .content {
    left: 0
}

.content h3 {
    text-align: center;
    border-bottom: 1px solid white;

    
}
.content p {
    text-align: center;
    padding-top: 10px ;    
}
.details{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}
.titulo-mascota{
    padding-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: lightgoldenrodyellow;
    font-family: 'Times New Roman', Times, serif;
    /* text-decoration: underline; */
}
@media screen and (max-width: 800px) {
    .box {
        height: 120px;
        width: 120px;
    }

   
}

#c-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 650px;
    width: 400%;
}
#c-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 650px;
    width: 100%;
}
.c-elemento {
    float: left;
    width: 25%;
}
@-moz-keyframes automatizacion {
    0% {
    margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-right: -100%;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-right: -100%;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-right: -100%;
    }
}

.heading {
    position: relative;
}
.testimonials {
    background: url('/assets/Imagenes/banner.jpeg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 130px 0 150px;
    color: #ffffff;
    position: relative;
}
.testimonials:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
}
.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}

.testimonials .heading h2 span {
    color: #ff0000;
}

.testimonials p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #0f0f0f;
    margin: 20px 0;
    padding: 0;
}

.testimonials #carouselExampleIndicators{
    overflow: hidden;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
    width: 100px;
    height: 100px;
    border: 2px solid #ff0000;
    border-radius: 100%;
    padding: 5px;
    margin: 50px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    
}

.testimonials .carousel-inner .carousel-item{
    overflow: hidden;
}

.testimonials .carousel-inner .carousel-item h4 {
    font-size: 14px;
    font-weight: 300;
    color: #e2e1e1;
    margin-bottom: 20px;
}

.testimonials .carousel-indicators {
    bottom: -30px;
}

.testimonials .carousel-indicators li {
    background-color: #b8b7b7;
    border-radius: 30px;
    height: 4px;
    width: 40px;
}

.testimonials .carousel-indicators .active {
    background-color: #ff0000;
}

.testimonials .control span {
    cursor: pointer;
}

.testimonials .icon {
    height: 40px;
    width: 40px;
    background-size: 100%, 100%;
    border-radius: 50%;
    font-size: 30px;
    background-image: none;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #34495e;
  }
  
  .cards {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .carde {
    margin: 40px;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 40px 60px -6px black;
  }
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #6253d3;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .carde img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
  }
  
  .card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: #897af8;
    overflow-y: hidden;
    transition: 0.8s ease;
  }
  
  .carde:hover .card-desc {
    opacity: 1;
    height: 100%;
  }
  
  h1 {
    font-size: 2.8rem;
    color: #0d0c0c;
    margin: 40px 0 20px 0;
    text-align: center;
  }

  .co{
    background-color: #6253d3;
    text-align: center;
    align-items: center;
  }

  /* NEVO */
  .container {
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  .container a{
    text-decoration: none;
    outline: none;
  }

