body{
    background: rgb(163, 226, 255);
    padding: 35px;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    
}

.text{
   margin-left:48vh;
}
.containers{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.containeres{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.container{
    position: absolute;
    top: 50%;
    right: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}


.container-text{
    position: absolute;
    top: 50%;
    right: 20%;
}

.container2{
    position: absolute;
    top: 50%;
    left: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-text2{
    position: absolute;
    top: 50%;
    left: 20%;
}

#hero{
    background-image: url('/assets/Imagenes/mascotas.png');
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}


#heros{
    background-image: url('/assets/Imagenes/objetivo.png');
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}


#second{
    background-image: url('/assets/Imagenes/fundacion.png');
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#second::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}


#third{
    background-image: url('/assets/Imagenes/pets.png');
    background-color: #c9e265;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#third::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.card-link{
    margin-left: 65%;
}

.card{
    margin-top: 1ex;
    margin-left: 5ex;
    width: 40ex;
    position: relative;
    display: flex;
    padding: 1.7ex
}

.carousel{
    margin: 1ex, 1ex, 1ex,  1ex;
    width: 100%;
    position: relative;
    display: flex;
    padding: 20ex
}
