
    <!---Section--->
    <section id="hero">
        <div class="hero containers">
            
        </div>
    </section>
    <!--End Section-->
    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <!---Section--->
    <section id="second">
        <h1 class="text">FUNDACIONES</h1>
        <div class="container">
            
            <p class="container-text">Las instituciones </p>
        </div>
        
        <div class="second containers">
            
        </div>
    </section>
    <!--End Section-->
    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <!---Section--->
    <section id="third">
        <div class="third containers">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="/assets/Imagenes/pastor-aleman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Max</h5>
                            <p class="card-text">Cachorro de pastor alemán de 2 meses</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">- Raza pura</li>
                        <li class="list-group-item">- Inyecciones completas</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver detalle ></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="/assets/Imagenes/angora.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Miky</h5>
                            <p class="card-text">Cachorrito de angora gris de 3 meses</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">- Raza pura</li>
                        <li class="list-group-item">- Cuidados primarios</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver detalle ></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="/assets/Imagenes/cachorro-bull.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Spike</h5>
                            <p class="card-text">Cachorro de pitbull terrier de 2 meses</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">- Raza pura</li>
                        <li class="list-group-item">- Inyecciones inompletas</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver detalle ></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="/assets/Imagenes/siames.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Tom</h5>
                            <p class="card-text">Siames adulto con cuidados preventivos</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">- Raza pura</li>
                        <li class="list-group-item">- Amistoso, delicado, dieta</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver detalle ></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="/assets/Imagenes/Conejo.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Copito</h5>
                            <p class="card-text">Conejo cabeza de león bebé</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">- Raza pura</li>
                        <li class="list-group-item">- Comida por edad</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver detalle ></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="/assets/Imagenes/hamster-ruso.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Pepe</h5>
                            <p class="card-text">Hámster ruso adulto dócil</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">- Raza pura</li>
                        <li class="list-group-item">- Dócil y juguetón</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver detalle ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <!--End Section-->
