.black-border {
    border: 1px solid black;
  }
  
  /* .container-fluid{
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    width: 1200px;
  } */
  
  img {
    width: 225px;
    height: 210px;
    border-radius: 1rem;
  }
  
  .cards {
    margin-top: 50px;
    border: 1px ;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color: #cfd7ef;
  }
  /* .cards:hover{
    background-color: rgb(166, 182, 228);
  } */
  
  
  table {
    width: 90%;
  }
  
  .name {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 2rem;
  }
  
  button {
    margin-top: 10px;
    background-color: #32507d;
    color: white;
  }

  .btn{
    background-color: #32507d;
    color: white;
  }

  .modal-dialog {
    max-width: 1350px !important
  }
  
  .modal-footer {
      display: inline;
      flex-wrap: wrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      padding: 0.75rem;
      border-top: 1px solid #dee2e6;
      border-bottom-right-radius: calc(0.3rem - 1px);
      border-bottom-left-radius: calc(0.3rem - 1px);
      text-align: center;
  }
  
  /* NEW */
  
  .forma{
    padding: 10px;
  }
  .pregunta{
    color: #707892;
    font-size:20px ;
    text-align: center;
  }
  
  .respuesta{
    color: #000000;
    font-size:20px ;
    text-align: center;
  }

  .estado{
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }

  .col-md-{
    padding: 10px;
  }

  .mensaje{
    border-radius: 1px;
    width: 100%;
    text-align: center;
  }