<!-- <p>panel-solicitud-admin works!</p> -->
<div class="col-md-10 text-center">
    <!-- <span class="name">Solicitudes de los Adoptantes</span> -->
</div>
<div class="container-fluid g-0 p-2">
    <div class="row g-0">
        <div class="col ps-2">
            <div class="row g-0">
            </div>
            <div class="row cards g-0 mt-3" *ngFor="let solicitudes of solicitudes">
                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "PENDIENTE"'> 
                    <label class="estado" style="background-color: orange;" >PENDIENTE</label>
                </div>

                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "ACEPTADO"'> 
                    <label class="estado" style="background-color: greenyellow; color: black;"  >ACEPTADO</label>
                </div>

                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "EN PROCESO"'> 
                    <label class="estado" style="background-color: rgb(63, 193, 236); color: black;"  >EN PROCESO</label>
                </div>

                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "SOLICITUD RECHAZADA"'> 
                    <label class="estado" style="background-color: rgb(212, 51, 27); color: rgb(255, 255, 255);"  >SOLICITUD RECHAZADA</label>
                </div>
                
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img [src]="'http://localhost:5000/imagen/images/' + solicitudes.usuario.foto_perfil"
                        alt="Profile Image" class="profile">
                </div>
                <div class="col-md">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 text-secondary">
                            <tr>
                                <td colspan="2">{{solicitudes.usuario.persona?.nombres}} {{usuario.persona?.apellidos}}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cédula</td>
                                <td>{{solicitudes.usuario.persona?.cedula}}</td>
                            </tr>
                            <tr>
                                <td>Correo</td>
                                <td>{{solicitudes.usuario.persona?.correo}}</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>{{solicitudes.usuario.persona?.telefono}}</td>
                            </tr>
                            <tr>
                                <td>Dirección</td>
                                <td>{{solicitudes.usuario.persona?.direccion}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col-md-2 mascota d-flex justify-content-center align-items-center">
                    <img [src]="'http://localhost:5000/imagen/images/' + solicitudes.mascota.foto" alt="Profile Image"
                        class="profile">
                </div>

                <div class="col">
                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 text-secondary">
                            <tr>
                                <td colspan="2">{{solicitudes.mascota.nombre_mascota}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chip</td>
                                <td>{{solicitudes.mascota.chipMascota}}</td>
                            </tr>

                            <tr>
                                <td>Sexo</td>
                                <td>{{solicitudes.mascota.sexo}}</td>
                            </tr>
                            <tr>
                                <td>Raza</td>
                                <td>{{solicitudes.mascota.raza}}</td>
                            </tr>
                            <tr>
                                <td>Descripción</td>
                                <td>{{solicitudes.mascota.descripcion}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "PENDIENTE"'> 
                    <label class="mensaje" style="background-color: rgb(234, 243, 245);">Su solicitud se envió correctamente a la fundación: {{solicitudes.mascota.fundacion.nombre_fundacion}} </label>
                </div>
                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "ACEPTADO"'> 
                    <label class="mensaje" style="background-color: rgb(177, 255, 132); color: black;">Felicidades tu solicitud ha sido Aprobada</label>
                    <label class="mensaje" style="background-color: rgb(177, 255, 132); color: black;">La solicitud tiene una validez de 24 horas</label>
                    <label class="mensaje" style="background-color: rgb(177, 255, 132);color: black;">Gracias por tu adopción de parte de {{solicitudes.mascota.fundacion.nombre_fundacion}}</label>
                    <label class="mensaje" style="background-color: rgb(177, 255, 132); color: black;">Puedes acercarte a nuestras instalaciones ubicadas en  {{solicitudes.mascota.fundacion.direccion}} </label>
                    <label class="mensaje" style="background-color: rgb(177, 255, 132); color: black;"> Telf: {{solicitudes.mascota.fundacion.telefono}} Correo: {{solicitudes.mascota.fundacion.correo}}</label>
                </div>
                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "EN PROCESO"'> 
                    <label class="mensaje" style="background-color: rgb(252, 255, 56);">Su solicitud está en proceso de revisión</label>
                </div>
                <div class="col-md-" *ngIf='obtenerEstado(solicitudes.estado) === "SOLICITUD RECHAZADA"'> 

                    <label class="mensaje" style="background-color: rgb(255, 44, 44); color: rgb(255, 255, 255);">Su solicitud de adopción fue rechazada por la fundación {{solicitudes.mascota.fundacion.nombre_fundacion}} </label>

                </div>
            </div>
        </div>
    </div>
</div>

