.black-border {
  border: 1px solid black;
}


img {
  width: 225px;
  height: 210px;
  border-radius: 1rem;
}

.cards {
  margin-top: 50px;
  border: 1px ;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: #cfd7ef;
}

table {
  width: 90%;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0px 2rem;
}

button {
  margin-top: 10px;
  background-color: #32507d;
  color: white;
}


.col-md-{
  padding: 10px;
}
.btn{
  background-color: rgb(114, 125, 226);
  color: white;
}
.modal-header{
  background-color: #a9b7e2;
  color: #000;
}

.modal-dialog {
  max-width: 900px !important
}

.modal-footer {
    display: inline;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    text-align: center;
}

/* NEW */

.forma{
  padding: 6px;
  border-radius: 30px 30px 30px 30px  
}
.pregunta{
  color: #5d5d5d;
  font-size:15px ;
  text-align: left;
}

.respuesta{
  color: #a0a6b9;
  font-size: 15px ;
  text-align: left;
}

.estado{
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.col-md-{
  padding: 10px;
}

.mensaje{
  border-radius: 1px;
  width: 100%;
  text-align: center;
}

/* BOTONES */
.boton{
  text-align:center;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  display:inline-block;
  color: #FFF;
  background: #7F8C8D;
  padding: 15px 30px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
  
.azul{
background: #3498DB;
}

.azul:hover{
background: #2980B9;
}

.verde{
background: #2ECC71;
}

.verde:hover{
background: #27AE60;
}

.rojo{
background: #E74C3C;
}

.rojo:hover{
background: #C0392B;
}

.rojoD{
  background: #fa7878;
}
  
.rojoD:hover{
  background: #df5141;
}

.naranja{
background: #E67E22;
}

.naranja:hover{
background: #D35400;
}