<!-- <p>panel-solicitud-admin works!</p> -->
<div class="col-md-10 text-center">
    <!-- <span class="name">Solicitudes de los Adoptantes</span> -->
</div>
<div class="container-fluid g-0 p-2">
    <div class="text-center">
    <a class="btn boton all" (click)="todos()" >Todos</a>
    <a class="btn boton naranja" (click)="pendientes()">Pendientes</a>
    <a class="btn boton azul" (click)="Proceso()">En Proceso</a>
    <a class="btn boton verde"(click)="Aceptadas()">Aceptadas</a>
    <a class="btn boton rojo"(click)="Rechazadas()">Rechazadas</a>
    </div>
    
    <div class="row g-0">
        <div class="col ps-2">
            <div class="row g-0"></div>
            <div class="row cards g-0 mt-3" *ngFor="let solicitudes of listaSolicitudes | filtradoFechas">
                <div class="col-md-" *ngIf="obtenerEstado(solicitudes.estado) === 'PENDIENTE'">
                    <label class="estado" style="background-color: orange">PENDIENTE</label>
                </div>

                <div class="col-md-" *ngIf="obtenerEstado(solicitudes.estado) === 'ACEPTADO'">
                    <label class="estado" style="background-color: greenyellow; color: black">ACEPTADO</label>
                </div>

                <div class="col-md-" *ngIf="obtenerEstado(solicitudes.estado) === 'EN PROCESO'">
                    <label class="estado" style="background-color: rgb(63, 193, 236); color: black">EN PROCESO</label>
                </div>

                <div class="col-md-" *ngIf="obtenerEstado(solicitudes.estado) === 'QUITADO'">
                    <label class="estado" style="
                    background-color: rgb(212, 51, 27);
                    color: rgb(255, 255, 255);
                    ">La adopción a sido denegada por no cumplir los seguimientos</label>
                </div>

                <div class="col-md-" *ngIf="obtenerEstado(solicitudes.estado) === 'SOLICITUD RECHAZADA'">
                    <label class="estado" style="
              background-color: rgb(212, 51, 27);
              color: rgb(255, 255, 255);
            ">SOLICITUD RECHAZADA</label>
                </div>
                <div style="text-align: center;">
                <h5>Fecha de solicitud:  <b> {{solicitudes.fecha_solicitud_adopcion}} </b> </h5>
                </div>
                <br>
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img [src]="'http://localhost:5000/imagen/images/' + solicitudes.usuario.foto_perfil" alt="Profile Image" class="profile" />
                </div>
                <div class="col-md">
                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 text-secondary">
                            <tr>
                                <td colspan="2">
                                    {{ solicitudes.usuario.persona?.nombres }}
                                    {{ solicitudes.usuario.persona?.apellidos }}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cédula</td>
                                <td>{{ solicitudes.usuario.persona?.cedula }}</td>
                            </tr>
                            <tr>
                                <td>Correo</td>
                                <td>{{solicitudes.usuario.persona?.correo}}</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>{{ solicitudes.usuario.persona?.telefono }}</td>
                            </tr>
                            <tr>
                                <td>Dirección</td>
                                <td>{{ solicitudes.usuario.persona?.direccion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-2 mascota d-flex justify-content-center align-items-center">
                    <img [src]="
              'http://localhost:5000/imagen/images/' + solicitudes.mascota.foto
            " alt="Profile Image" class="profile" />
                </div>

                <div class="col">
                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 text-secondary">
                            <tr>
                                <td colspan="2">{{ solicitudes.mascota.nombre_mascota }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chip</td>
                                <td>{{ solicitudes.mascota.chipMascota }}</td>
                            </tr>

                            <tr>
                                <td>Sexo</td>
                                <td>{{ solicitudes.mascota.sexo }}</td>
                            </tr>
                            <tr>
                                <td>Raza</td>
                                <td>{{ solicitudes.mascota.raza }}</td>
                            </tr>
                            <tr>
                                <td>Descripción</td>
                                <td>{{ solicitudes.mascota.descripcion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="capParaLitar(solicitudes.idSolicitudAdopcion)" type="button" class="btn"
                    data-bs-toggle="modal" data-bs-target="#modal-detalle">
                    Detalles
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal" id="modal-detalle" tabindex="-5" aria-labelledby="modal-detalle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Detalle de la Solicitud</h5> -->
                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="container w-75 mt-25 me-25 mt-5 shadown">
                <div class="rows align-items-strech">
                    <div class="col bg-white mt-25 p-25">
                        <!-- <form class="row g-2 d-flex justify-content-center">
                            <h2 class="form text-center p-25 ">Datos de la Solicitud</h2>
                            <div class="col-md-6 text-center" >
                                <div class="col-12 p-10">
                                    <label for="cedula" class="form-label-p"> Cedula:  </label>
                                    <label type="cedula" class="cedula text-center" name="cedula">{{solicitudes.usuario.persona?.cedula}}</label>   
                                </div> 
                                <div class="col-12 p-10">
                                    <label for="cedula" class="form-label-p"> Nombres:  </label>
                                    <label type="cedula" class="cedula text-center" name="cedula">{{solicitudes.usuario.persona?.nombres}} {{solicitudes.usuario.persona?.apellidos}}</label>   
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <label for="password" class="form-label-p"> Repita su Contraseña</label>
                                <label for="password" class="form-label-p"> Repita su Contraseña</label>
                                <label for="password" class="form-label-p"> Repita su Contraseña</label>
                            </div>
                        </form> -->


                        <h4 class="form-title-sc text-center"><b>Formulario de adopción</b></h4>


                        <!-- <h5>Solicitud{{solicitudCap.estado}}</h5> -->
                        <div class="forma">
                            <div class="forma" *ngFor="let preguntaRespuesta of preguntasRespuestas">
                                <p class="pregunta" ><b>{{ preguntaRespuesta.pregunta.pregunta }}</b></p>
                                <p class="respuesta">{{ preguntaRespuesta.respuestas }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="solicitudCap.estado === 'E' || solicitudCap.estado === 'P'" type="button"
                    class="btn btn-outline-success" (click)="aceptarSolicitud()">
                    Aceptar Solicitud
                </button>
                <button *ngIf="solicitudCap.estado === 'P'" type="button" class="btn btn-outline-warning"
                    (click)="enEsperaSolicitud()">
                    Pendiente
                </button>
                <button *ngIf="solicitudCap.estado === 'E' || solicitudCap.estado === 'P'" type="button"
                    class="btn btn-outline-danger" (click)="rechazarSolicitud()">
                    Rechazar Solicitud
                </button>


                <div class="col-md-" *ngIf="solicitudCap.estado === 'R'">
                    <label class="estado" style="
              background-color: rgb(212, 51, 27);
              color: rgb(255, 255, 255);
            ">SOLICITUD RECHAZADA</label>
                </div>

                <div class="col-md-" *ngIf="solicitudCap.estado === 'A'">
                    <label class="estado" style="background-color: greenyellow; color: black">ACEPTADO</label>
                </div>
                <button style="background-color: red; border: none;" *ngIf="solicitudCap.estado === 'A'" type="button"
                class="btn btn-outline-success" (click)="rechazarSolicitudAceptada()">
                Cancelar Proceso de Adopcion
                </button>
                <br><br>

            </div>
        </div>
    </div>
</div>